@page "{quizId}/{userId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "Wynik";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Wynik Quizu</h1>
<hr />
<p>Twoja liczba poprawnych odpowiedzi to: <b>@Model.CorrectAnswersCount</b>. Brawo! </p>
<hr />