@page "{quizId}/{userId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Summary</h1>
<p>You have answered @Model.CorrectAnswersCount correct answers.</p>
